#lets-play-some-chess-text{
    color: white;
    font-size: 40px;
}
:root {
    --main-background: -webkit-linear-gradient(-86deg, #ffbb00 1%, #027300 99%);
}

#the-layout{
    display: grid;
    grid-template-columns: 25% 1fr;
}
@media screen and (max-width: 650px) {
    #the-layout {
        display: flex;
        flex-direction: column;
        width: 100vw;
    }
}


#question-mark{
    position: absolute;
    top: 0px;
    right: 10px;
    color: white;
    cursor: pointer;
}



/*  */
#fandl{
    display: flex;
    justify-content: center;
    align-items: center;
}

#first-and-last-name{
    border: 1px solid #ffbb00;
    border-radius: 5px;
    padding: 2px 10px 2px 10px;
    background-color: #84a683;
    text-align: center;
    color: white;
    font-size: 13px;
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
}

#div-my-colour{
    display: flex;
    justify-content: center;
}

#whiteside{
    color: white;
    background-color: rgb(84, 157, 129);
    border: 3px solid green;
    margin: 10px;
    position: absolute;
    top: 0;
}
#blackside{
    color: rgb(0, 0, 0);
    background-color: rgb(84, 157, 129);
    border: 3px solid green;
    margin: 10px;
    position: absolute;
        top: 0;
}

#knight-beautiful{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 200px;
    opacity: 0.8;
}


/*  */
#title-and-your-colour{
    display: flex;
    justify-content: center;
}

#chat-allusers-welcome{
    max-width: 450px;
}
@media screen and (max-width: 650px){
    #chat-allusers-welcome {
        height: 100vh;
        width: 100vw;
    }
    .chessmain {
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@media screen and (max-width: 450px) {
    .chessmain {
        transform: scale(0.6);
        position: absolute;
        top: 50%;
    }
}

