*{
    box-sizing: border-box; 
    margin: 0; 
    padding: 0;}


body{
    height: 100%;
    overflow: hidden;
}
:root {
    --main-cell-size: 80px;
}

.chess-board{
    display: flex;
    justify-content: center;
    align-items: center;
    rotate: -90deg;
    margin: auto;
    z-index: 2;
}

.chess-board-b {
    display: flex;
    justify-content: center;
    align-items: center;
    rotate: 90deg;
    margin: auto;
    z-index: 2;
}
@media screen and (max-width: 1150px){
    .chess-board-b{
        transform: scale(0.8);
    }
    .chess-board{
        transform: scale(0.8);
    }
}
@media screen and (max-width: 900px) {
    .chess-board-b {
        transform: scale(0.7);
        position: absolute;
    }
    .chess-board {
        transform: scale(0.7);
        position: absolute;
    }
}
@media screen and (max-width: 800px) {
    .chess-board-b {
        transform: scale(0.6);
    }
    .chess-board {
        transform: scale(0.6);
    }
}
@media screen and (max-width: 650px) {
    .chess-board-b {
        transform: scale(0.5);
    }
    .chess-board {
        transform: scale(0.5);
    }
}

#rows {
    background-color: black;
    padding: 0px;
}

#all-cells{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    max-width: 640px;
}
#rows-numbers{
    rotate: 90deg;
    background: var(--main-background);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
#rows-numbers-rotated{
    rotate: -90deg;
    background: var(--main-background);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    right: 4px;
    top: 661px;
}
#columns-letters-divs{
    position: relative;
    bottom: -77px;
    right: 707px;
}
#columns-letters-divs-reversed{
    position: relative;
    bottom: 60px;
    right: 0px;
    transform: rotate(180deg);
}

#columns-letters-div{
    width: var(--main-cell-size);
    height: var(--main-cell-size);
}
#columns-letters{
    rotate: 90deg;
    background: var(--main-background);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
}


#big-big-div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 83vh;
}

#big-big-div-blackside{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 99vh;
}

#big-big-div>button{
    cursor: pointer;
}

#start-btn-div{
    display: flex;
    justify-content: center;
}

#start-the-game-btn-center{
    border-radius: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    font-size: 20px;
    background-color: rgb(0, 192, 0);
    color: rgb(4, 6, 0);
    z-index: 20px;
    cursor: pointer;
}

#start-the-game-btn-center:hover{
    background-color: rgb(0, 255, 0);
}