#chat-div{
    background: rgb(0, 214, 240);
        background: linear-gradient(0deg, rgba(0, 214, 240, 1) 0%, rgba(0, 142, 255, 1) 100%);
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50px 0px 0px 50px;
    z-index: 3;
}


#chat-messages-div{
    width: 90%;
    background-color: aliceblue;
    height: 80%;
    border-radius: 15px;
    border: 3px solid orange ;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#textarea-chat{
    border-radius: 10px;
    border: 1px solid blue;
    height: 10%;
    width: 90%;
}

#button-send{
    background-color: lightblue;
    border-radius: 10px;
    padding: 5px;
}