#registration-form{
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

#registration-form>*{
    padding: 10px;
}

.mandatory-field{
    color: red;
}

#register-btn{
    border-radius: 20px;
    width: 150px;
}