*{
    box-sizing: border-box; 
    margin: 0; 
    padding: 0;}


body{
    height: 100%;
    overflow: hidden;
}
:root {
    --main-cell-size: 80px;
}

.chess-board{
    display: flex;
    justify-content: center;
    align-items: center;
    rotate: -90deg;
    margin: auto
}
#all-cells{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    max-width: 640px;
}
#rows-numbers{
    rotate: 90deg;
    background: var(--main-background);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
#columns-letters-divs{
    position: relative;
    bottom: -77px;
    right: 707px;
}
#columns-letters-div{
    width: var(--main-cell-size);
    height: var(--main-cell-size);
}
#columns-letters{
    rotate: 90deg;
    background: var(--main-background);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
}


#big-big-div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}