*{
    box-sizing: border-box; 
    margin: 0; 
    padding: 0;}


body{
    height: 100%;
    overflow: hidden;
}
:root {
    --main-cell-size: 80px;
}

.chess-board{
    background-color: #462921;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    border: 3px solid rgb(0, 0, 0);
}
#all-cells{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    max-width: 640px;
}

.row{
    
}

.white{
    width: var(--main-cell-size);
    height: var(--main-cell-size);
    background-color: #b5915f;
}

.black{
    width: var(--main-cell-size);
    height: var(--main-cell-size);
    background-color: #441a03;
}

.possible-move {
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    opacity: 0.85;
}