#checkmate{
    position: absolute;
    top: 0;
}

#checkmate-div{
    position: absolute;
    top: 0;
    display: flex ;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

#checkmate-text{
    position: relative;
    font-size: 50px;
    z-index: 2;
    color: white;
}

#backdrop{
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.8;
    width: 100vw;
    height: 100vh;
}

#checkmate-button{
    position: relative;
    width: 100px;
    height: 40px;
    z-index: 2;
    border: 1px solid rgb(30, 255, 0);
    border-radius: 50px;
    background-color: greenyellow;
}

#just-a-div{
    display: flex;
    align-items: center;
    flex-direction: column;
}

a{
    color: rgb(0, 94, 195);
}