#lets-play-some-chess{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center
}

#lets-play-some-chess-text{
    color: white;
    font-size: 40px;
}
:root {
    --main-background: -webkit-linear-gradient(-86deg, #ffbb00 1%, #00a6ff 99%);
}

#the-layout{
    display: grid;
    grid-template-columns: 15% 1fr 15%;
}

#question-mark{
    position: absolute;
    top: 0px;
    right: 10px;
    color: white;
    cursor: pointer;
}

#first-and-last-name{
    color: white;
    position: absolute;
    left: 50px;
    top: 2px;
    padding: 6px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #00a6ff;
}

#whiteside{
    color: white;
    background-color: rgb(84, 157, 129);
    border: 3px solid green;
    margin: 10px;
}
#blackside{
    color: rgb(0, 0, 0);
    background-color: rgb(84, 157, 129);
    border: 3px solid green;
    margin: 10px;
}

#knight-beautiful{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
}