#cell{
    /* width: var(--main-cell-size);
    height: var(--main-cell-size);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%; */
}
.row-white{
    background-color: white;
}
.row-black{
    background-color: rgb(0, 0, 0);
}
.cell-white {
    width: var(--main-cell-size);
    height: var(--main-cell-size);
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    rotate: 90deg;
    background-color: #b5915f;
}

.cell-black {
    width: var(--main-cell-size);
    height: var(--main-cell-size);
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    rotate: 90deg;
    background-color: #441a03;
}

#piece {
    z-index: 3;
}