#friends-div{
    background: rgb(25, 117, 0);
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

#all-users-list{
    background-color: rgb(229, 243, 255);
    border: 2px solid rgb(255, 140, 0);
    width: 90%;
    height: 80%;
    border-radius: 10px;
    display: flex;
    text-align: center;
    flex-direction: column;
    margin: 10px;
    overflow-y: auto;
    overflow-x: hidden;
}

#allusers-names{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 0.5px dashed rgb(68, 102, 150);
    border-radius: 10px;
    padding: 10px;
}

#start-the-game-btn{
    border-radius: 10px;
    background-color: rgb(255, 149, 0);
    border: 2px solid rgb(1, 78, 0);
    padding: 10px;
    font-size: 15px;
}



/* Selected? */
.users-not-selected {
    background-color: rgb(0, 87, 43);
    color: white;
}

.users-selected {
    background: rgb(0, 255, 106);
}